
.navbar{
    background-color:rgb(99, 96, 92);
}
img{
    max-width: 100%;
    height:auto;
}


.p1 >h2{
    justify-content:center;
    display:flex;
    margin:10px;

}
.p1 >p{
    display:flex
}
 
